body, #content {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: cursive;
  height: 100vh;
}

a {
  bottom: 0;
  margin-bottom: 5%;
}

h1 {
  text-align: center;
  background: -webkit-linear-gradient(135deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 26%, rgba(0,212,255,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1:hover {
  transform: scale(1.5);
}

section {
  width: 40%;
  text-align: center;
  margin: 10px;
  padding: 0 3px 0 3px;
  background: -webkit-linear-gradient(135deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 26%, rgba(0,212,255,1) 100%);
  border-radius: 10px;
  color: white;
  text-shadow: -2px 2px 2px black
}

input {
  padding: 2px 0 2px 2px;
  max-width: 100px;
  margin: 15% 0 2px 0;
  border-radius: 5px;
  border: 2px solid white;
  transition: border 0.5s ease;
}

input:hover {
  border: 2px solid grey;
}

#inputs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: clamp(400px, 75%, 800px);
  justify-content: center;
}

#answerBox {
  margin: 2.5% 0;
  width: 50%;
  padding: 15% 0 15% 0;
  text-align: center;
  text-shadow: 2px 2px 10px red;
  border-radius: 10px;
  background: url("https://www.netclipart.com/pp/m/38-387078_bank-png-picture-bank-3d-building.png");
  background-size: cover;
}